apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ai-descriptor
  name: ai-descriptor
  namespace: gamebase
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: ai-descriptor
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: ai-descriptor
    spec:
      containers:
        - image: ghcr.io/emil476m/gamebase-ad:0.0.37
          imagePullPolicy: IfNotPresent
          name: gamebase-ad
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
