apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: gateway
  name: gateway
  namespace: gamebase
spec:
  progressDeadlineSeconds: 600
  replicas: 4
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: gateway
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        consul.hashicorp.com/connect-inject: "true"
      labels:
        app: gateway
    spec:
      serviceAccountName: gateway
      containers:
        - image: ghcr.io/emil476m/gamebase-gw:0.0.37
          imagePullPolicy: IfNotPresent
          name: gamebase-gw
          resources: { }
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          env:  
            - name: CONSUL_ACL
              valueFrom:
                secretKeyRef:
                  name: consul-acl
                  key: token
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: { }
      terminationGracePeriodSeconds: 30

---
apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: gamebase
spec:
  selector:
    app: gateway
  ports:
    - port: 8080
      targetPort: 8080
      name: http