apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: search-engine
  name: search-engine
  namespace: gamebase
  annotations:
    consul.hashicorp.com/connect-inject: "true"
spec:
  progressDeadlineSeconds: 600
  replicas: 3
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: search-engine
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: search-engine
    spec:
      serviceAccountName: descriptor   # must match the Service name
      containers:
        - image: ghcr.io/emil476m/gamebase-se:0.0.37
          imagePullPolicy: IfNotPresent
          name: gamebase-se
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
