alloy:
  configMap:
    create: true
    content: |
      logging {
        level  = "info"
        format = "logfmt"
      }
      discovery.kubernetes "pods" {
        role = "pod"
      }

      loki.source.kubernetes "pods" {
        targets    = discovery.kubernetes.pods.targets
        forward_to = [loki.relabel.pod_logs.receiver]
      }

      loki.relabel "pod_logs" {
        forward_to = [loki.write.default.receiver]

        rule {
          source_labels = ["__meta_kubernetes_namespace"]
          target_label  = "namespace"
        }
        rule {
          source_labels = ["__meta_kubernetes_pod_name"]
          target_label  = "pod"
        }
        rule {
          source_labels = ["__meta_kubernetes_namespace", "__meta_kubernetes_pod_name"]
          separator     = "_"
          action        = "replace"
          replacement   = "/var/log/pods/$1_$2_*/*/*.log"
          target_label  = "__path__"
        }
      }

      loki.write "default" {
        endpoint {
          url = "http://loki-gateway.monitoring.svc.cluster.local/loki/api/v1/push"
        }
      }

  mounts:
    varlog: true

  securityContext:
    runAsUser: 0
    runAsGroup: 0

controller:
  type: daemonset