deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
    bucketNames:
      chunks: chunks
      ruler: ruler
      admin: admin
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  storage_config:
    filesystem:
      directory: /var/loki/chunks

gateway:
  enabled: true

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi

monitoring:
  selfMonitoring:
    enabled: false
  lokiCanary:
    enabled: false
  datasource:
    enabled: false


test:
  enabled: false
lokiCanary:
  enabled: false
  
chunksCache:
  allocatedMemory: 256
resultsCache:
  allocatedMemory: 256