global:
  enabled: true
  name: consul
  image: hashicorp/consul:1.22.1
  datacenter: dc1
  secretsBackend:
    vault:
      vaultNamespace: "vault"
      enabled: true
      consulServerRole: consul-server
      consulClientRole: consul-client
      consulCARole: consul-ca
      
      manageSystemACLsRole: consul-acl-manager
  tls:
    enabled: true
    enableAutoEncrypt: true
    caCert:
      secretName: "pki/cert/ca"
  acls:
    manageSystemACLs: true
    bootstrapToken:
      secretName: "secret/data/consul-bootstrap-token"
      secretKey: "token"
  metrics:
    enabled: true
    enableAgentMetrics: true
    enableGatewayMetrics: true
    agentMetricsRetentionTime: "1m"

server:
  enabled: true
  replicas: 1
  serviceAccount:
    create: true
    name: consul-server

  serverCert:
    secretName: "pki/issue/consul-server"

ui:
  enabled: true
  service:
    type: NodePort
  metrics:
    enabled: true
    provider: "prometheus"
    baseURL: http://prometheus-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090

connectInject:
  enabled: true
  default: true
  k8sDenyNamespaces: ["monitoring"]
  metrics:
    defaultEnabled: true
    defaultPrometheusScrapePort: 20200
  apiGateway:
    managedGatewayClass:
      service:
        type: NodePort
      useHostPorts: true