server:
   image:
    tag: "1.21.1"
   serviceAccount:
      create: true
   
   affinity: ""
   ha:
      enabled: true
      raft: 
         enabled: true
         setNodeId: true
         config: |
            ui = true
            cluster_name = "vault-integrated-storage" 
            storage "raft" {
               path    = "/vault/data/"
            }

            listener "tcp" {
               address = "[::]:8200"
               cluster_address = "[::]:8201"
               tls_disable = "true"

            }
            service_registration "kubernetes" {}
injector:
  enabled: true
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-delete-policy: hook-succeeded